# Pandas

Pandas est une bibliothèque écrite pour le langage de programmation Python permettant la manipulation et l'analyse des données. Elle propose en particulier des structures de données et des opérations de manipulation de tableaux numériques et de séries temporelles.

Lien vers le tuto:

https://www.dataquest.io/blog/excel-and-pandas/

## 1 - Lecture du fichier xlsx

In [1]:
import pandas as pd

excel_file = 'fichier_excel.xlsx'
resultats = pd.read_excel(excel_file)

resultats.head()

   Édition  Année             Vainqueur   Score        Finaliste   Troisième
0        1   1930               Uruguay   4 - 2        Argentine  États-Unis
1        2   1934                Italie   2 - 1  Tchécoslovaquie   Allemagne
2        3   1938                Italie   4 - 2          Hongrie      Brésil
3        4   1950               Uruguay  2 - 1f           Brésil       Suède
4        5   1954  Allemagne de l'Ouest   3 - 2          Hongrie    Autriche

In [3]:
import pandas as pd

excel_file = 'fichier_excel.xlsx'

resultats = pd.read_excel(excel_file, sheet_name='coupe_monde', index_col=1)
resultats.head(10)

,Édition,Vainqueur,Score,Finaliste,Troisième
Année,,,,,
1930,1,Uruguay,4 - 2,Argentine,États-Unis
1934,2,Italie,2 - 1,Tchécoslovaquie,Allemagne
1938,3,Italie,4 - 2,Hongrie,Brésil
1950,4,Uruguay,2 - 1f,Brésil,Suède
1954,5,Allemagne de l'Ouest,3 - 2,Hongrie,Autriche
1958,6,Brésil,5 - 2,Suède,France
1962,7,Brésil,3 - 1,Tchécoslovaquie,Chili
1966,8,Angleterre,4 - 2,Allemagne de l'Ouest,Portugal
1970,9,Brésil,4 - 1,Italie,Allemagne de l'Ouest
1974,10,Allemagne de l'Ouest,2 - 1,Pays-Bas,Pologne

Afficher la fin du fichier

In [17]:
resultats.tail()

       Édition  Vainqueur  Score  Finaliste  Troisième
Année
2006        18     Italie  5 - 3     France  Allemagne
2010        19    Espagne  1 - 0   Pays-Bas  Allemagne
2014        20  Allemagne  1 - 0  Argentine   Pays-Bas
2018        21     France  4 - 2    Croatie   Belgique
2022        22        NaN    NaN        NaN        NaN

In [18]:
# Forme des informations

resultats.shape

(22, 5)

In [5]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, storage_options: Union[Dict[str, Any], NoneType] = None)
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions. Lists of strings/integers are used to request
        multiple sheets. Specify None to get all sheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All sheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    usecols : int, str, list-like, or callable default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed.
        * If list of string, then indicates list of column names to be parsed.

          .. versionadded:: 0.24.0

        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.

          .. versionadded:: 0.24.0

    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Supported engines: "xlrd", "openpyxl", "odf", "pyxlsb".
        Engine compatibility :

        - "xlrd" supports old-style Excel files (.xls).
        - "openpyxl" supports newer Excel file formats.
        - "odf" supports OpenDocument file formats (.odf, .ods, .odt).
        - "pyxlsb" supports Binary Excel files.

        .. versionchanged:: 1.2.0
            The engine `xlrd <https://xlrd.readthedocs.io/en/latest/>`_
            now only supports old-style ``.xls`` files.
            When ``engine=None``, the following logic will be
            used to determine the engine:

           - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
             then `odf <https://pypi.org/project/odfpy/>`_ will be used.
           - Otherwise if ``path_or_buffer`` is an xls format,
             ``xlrd`` will be used.
           - Otherwise if `openpyxl <https://pypi.org/project/openpyxl/>`_ is installed,
             then ``openpyxl`` will be used.
           - Otherwise if ``xlrd >= 2.0`` is installed, a ``ValueError`` will be raised.
           - Otherwise ``xlrd`` will be used and a ``FutureWarning`` will be raised. This
             case will raise a ``ValueError`` in a future version of pandas.

    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    convert_float : bool, default True
        Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a local path or
        a file-like buffer. See the fsspec and backend storage implementation
        docs for the set of allowed keys and values.

        .. versionadded:: 1.2.0

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

In [16]:
excel_file = 'fichier_excel.xlsx'

xlsx = pd.ExcelFile(excel_file)
feuilles = []
for sheet in xlsx.sheet_names:
    print("=== Feuille :", sheet)
    feuilles.append(xlsx.parse(sheet))

print(feuilles)

=== Feuille : coupe_monde
=== Feuille : Feuil1
[    Édition  Année             Vainqueur   Score             Finaliste  \
0         1   1930               Uruguay   4 - 2             Argentine
1         2   1934                Italie   2 - 1       Tchécoslovaquie
2         3   1938                Italie   4 - 2               Hongrie
3         4   1950               Uruguay  2 - 1f                Brésil
4         5   1954  Allemagne de l'Ouest   3 - 2               Hongrie
5         6   1958                Brésil   5 - 2                 Suède
6         7   1962                Brésil   3 - 1       Tchécoslovaquie
7         8   1966            Angleterre   4 - 2  Allemagne de l'Ouest
8         9   1970                Brésil   4 - 1                Italie
9        10   1974  Allemagne de l'Ouest   2 - 1              Pays-Bas
10       11   1978             Argentine   3 - 1              Pays-Bas
11       12   1982                Italie   3 - 1  Allemagne de l'Ouest
12       13   1986             Argentine   3 - 2  Allemagne de l'Ouest
13       14   1990  Allemagne de l'Ouest   1 - 0             Argentine
14       15   1994                Brésil   3 - 2                Italie
15       16   1998                France   3 - 0                Brésil
16       17   2002                Brésil   2 - 0             Allemagne
17       18   2006                Italie   5 - 3                France
18       19   2010               Espagne   1 - 0              Pays-Bas
19       20   2014             Allemagne   1 - 0             Argentine
20       21   2018                France   4 - 2               Croatie
21       22   2022                   NaN     NaN                   NaN

               Troisième
0             États-Unis
1              Allemagne
2                 Brésil
3                  Suède
4               Autriche
5                 France
6                  Chili
7               Portugal
8   Allemagne de l'Ouest
9                Pologne
10                Brésil
11               Pologne
12                France
13                Italie
14                 Suède
15               Croatie
16               Turquie
17             Allemagne
18             Allemagne
19              Pays-Bas
20              Belgique
21                   NaN  , Empty DataFrame
Columns: []
Index: []]

In [4]:
import pandas as pd

excel_file = 'fichier_excel.xlsx'

resultats2 = pd.read_excel(excel_file, usecols=list(range(1,3)) )
resultats2.head()

   Année             Vainqueur
0   1930               Uruguay
1   1934                Italie
2   1938                Italie
3   1950               Uruguay
4   1954  Allemagne de l'Ouest

In [24]:
print(resultats2, type(resultats2))

    Année             Vainqueur
0    1930               Uruguay
1    1934                Italie
2    1938                Italie
3    1950               Uruguay
4    1954  Allemagne de l'Ouest
5    1958                Brésil
6    1962                Brésil
7    1966            Angleterre
8    1970                Brésil
9    1974  Allemagne de l'Ouest
10   1978             Argentine
11   1982                Italie
12   1986             Argentine
13   1990  Allemagne de l'Ouest
14   1994                Brésil
15   1998                France
16   2002                Brésil
17   2006                Italie
18   2010               Espagne
19   2014             Allemagne
20   2018                France
21   2022                   NaN <class 'pandas.core.frame.DataFrame'>

In [32]:
import pandas as pd

excel_file = 'coupe_monde.xlsx'

df = pd.read_excel(excel_file, usecols=list(range(1,3)) )

print("Accès aux colonnes par le nom:")
for i in range(len(df)): 
    print(df.loc[i,"Année"], df.loc[i,"Vainqueur"] )
    
print("\nAccès aux colonnes par l'index:")    
for i in range(5, 10): 
    print(df.iloc[i,0], df.iloc[i,1] )

Accès aux colonnes par le nom:
1930 Uruguay
1934 Italie
1938 Italie
1950 Uruguay
1954 Allemagne de l'Ouest
1958 Brésil
1962 Brésil
1966 Angleterre
1970 Brésil
1974 Allemagne de l'Ouest
1978 Argentine
1982 Italie
1986 Argentine
1990 Allemagne de l'Ouest
1994 Brésil
1998 France
2002 Brésil
2006 Italie
2010 Espagne
2014 Allemagne
2018 France
2022 nan

Accès aux colonnes par l'index:
1958 Brésil
1962 Brésil
1966 Angleterre
1970 Brésil
1974 Allemagne de l'Ouest

In [41]:
# itération par ligne

victoires = {}

for index, row in df.iterrows(): 
    print(index, row["Année"], row["Vainqueur"])
    
    vainqueur = row["Vainqueur"]
    if vainqueur in victoires:
        victoires[vainqueur][0] += 1
    else:
        victoires[vainqueur] = [1]

print(victoires)

0 1930 Uruguay
1 1934 Italie
2 1938 Italie
3 1950 Uruguay
4 1954 Allemagne de l'Ouest
5 1958 Brésil
6 1962 Brésil
7 1966 Angleterre
8 1970 Brésil
9 1974 Allemagne de l'Ouest
10 1978 Argentine
11 1982 Italie
12 1986 Argentine
13 1990 Allemagne de l'Ouest
14 1994 Brésil
15 1998 France
16 2002 Brésil
17 2006 Italie
18 2010 Espagne
19 2014 Allemagne
20 2018 France
21 2022 nan
{'Uruguay': [2], 'Italie': [4], "Allemagne de l'Ouest": [3], 'Brésil': [5], 'Angleterre': [1], 'Argentine': [2], 'France': [2], 'Espagne': [1], 'Allemagne': [1], nan: [1]}

In [42]:
#victoires.to_excel(writer, index=False, sheet_name='report')
victoire_dataframe = pd.DataFrame.from_dict(victoires)
victoire_dataframe.to_excel('victoires.xlsx')

In [43]:
import csv

def transforme_pays(pays):
    if pays == "Allemagne de l'Ouest":
        return "Allemagne"
    else:
        return pays



# ouverture fichier CSV
nombre_ligne = 0
with open('coupe_monde.csv', encoding="utf8") as fichier_csv:
    lecteur_csv = csv.reader(fichier_csv, delimiter=';')
    
    victoires = {}
    
    for ligne in lecteur_csv:
        if nombre_ligne > 0:
            # c'est une ligne de données
            #print(ligne)
            pays = transforme_pays( ligne[2] )
            pays2 = transforme_pays( ligne[4] )
            pays3 = transforme_pays( ligne[5] )

            # Ajouter une victoire
            if pays in victoires:
                # dejà présent, ajouter une victoire
                victoires[pays][0] += 1
            else:
                # le pays n'est pas présent
                victoires[pays] = [1, 0, 0]
                
            #ajouter 2eme place
            if pays2 in victoires:
                # dejà présent, ajouter une victoire
                victoires[pays2][1] += 1
            else:
                # le pays n'est pas présent
                victoires[pays2] = [0, 1, 0]
                
            #ajouter 3eme place
            if pays3 in victoires:
                # dejà présent, ajouter une victoire
                victoires[pays3][2] += 1
            else:
                # le pays n'est pas présent
                victoires[pays3] = [0, 0, 1]
        #else:
            # Afficher le titre
            #print("Titre")
            #print(ligne)
            #print()
        nombre_ligne += 1
        
    print(victoires)

{'Uruguay': [2, 0, 0], 'Argentine': [2, 3, 0], 'États-Unis': [0, 0, 1], 'Italie': [4, 2, 1], 'Tchécoslovaquie': [0, 2, 0], 'Allemagne': [4, 4, 4], 'Hongrie': [0, 2, 0], 'Brésil': [5, 2, 2], 'Suède': [0, 1, 2], 'Autriche': [0, 0, 1], 'France': [2, 1, 2], 'Chili': [0, 0, 1], 'Angleterre': [1, 0, 0], 'Portugal': [0, 0, 1], 'Pays-Bas': [0, 3, 1], 'Pologne': [0, 0, 2], 'Croatie': [0, 1, 1], 'Turquie': [0, 0, 1], 'Espagne': [1, 0, 0], 'Belgique': [0, 0, 1], '': [1, 1, 1]}

In [44]:
victoire_dataframe = pd.DataFrame.from_dict(victoires)
victoire_dataframe.to_excel('victoires.xlsx')